

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;

}

header {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: var(--navbar-height);
}

.contentWrapper {
  padding-top:calc(var(--navbar-height) + 30px); /* Adjust this value to create space between header and content */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section{
  flex: 1;
  min-height: 100vh;
  max-height: 100vh;
}

/* Right navigation css things*/
.sections-container {
  flex: 1;
}

.active {
  background-color: #f0f0f0;
}

.navigation-indicator {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active-dot {
  background-color: #fff;
}

/*individual sections*/
#landing {
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: left; /* Horizontal centering */
  text-align: center; /* Center text within the landing section */
  width: 100%;
  
  background-color: #F8E9A1; /* Blue background color */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(248, 233, 161, 1)),
                url('../public/landingbackground.jpg') center/cover no-repeat;
  color:white; 
  
}



.landing-text {
  flex: 1;
  padding-left: 20%; /* Adjust as needed for spacing */
  font-size: 40px;
  text-align: left;
}

/* Add styles for the line separating the thirds */
.separator-line {
  border-left: 1px solid black; /* Adjust line color and style as needed */
  height: 100%;
  margin: 1px 20px; /* Adjust margin as needed for spacing */
}




#projects {
  background-color: #f8c4a1; /* Green background color */
  display: flex;
  width: 100%;
  color:white;
  
}

#profile {
  background-color: #A8D0E6; /* Red background color */
  display: flex;
  width: 100%;
  color:white;
}

/* blog css */
#blog {
  background-color: #F76C6C; /* Green background color */
  display: flex;
  width: 100%;
  color:white; 
  
}




.project-section-title{
  display: flex;
  align-items: flex-start; /* Align content to the top */
  justify-content: center;
  text-align: center;
  height: 90vh; /* Set the height of the landing section, adjust as needed */
  font-size: 50px;
  margin-top: 5%;
  margin-left: 43%;
}

/* project css */
.project-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Adjust the height as needed */

  /* Clip the hexagon shape */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.project-fade {
  position: absolute;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.project-previous {
  left: 0%;
}

.project-next {
  right: 0%;
  width: 20%;
}

.project-current {
  position: relative;
  overflow: hidden;
  transform: none;
  margin-left: -40px; 
}

.selected-project-text {
  margin-left: -120px; 
}

.project-current img {
  object-position: center center;
  transform: none;
  display: block;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.button-wrapper {
  position: relative;
  z-index: 1; /* Set a higher z-index to position it above the faded images */
  margin-top: 10px; /* Adjust as needed to align with the previous image */
}



#fullprofile {
  background-color: #374785; /* Green background color */
  display: flex;
  width: 100%;
  color:white; 
}

#contact {
  background-color: #374785; /* Red background color */
  display: flex;
  width: 100%;
  color:white; 
  background: linear-gradient(rgba(55, 71, 133, 1), rgba(0, 0, 0, 0.4)),
                url('../public/code.jpeg') center/cover no-repeat;
}

.cursor-light {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.1s ease-out;
}